html {
    height: 100%;
}
body {
    left: 0px;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
#header {
    /*background-color: #808080;*/
    background-color: #7e7e7e;
    position: relative;
    height: auto;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
}
#name {
    color: #FFFFFF;
    font-family: 'Century Gothic',serif;
    font-size: 60px;
    text-align: center;
    padding: 5px;
}
#navbar ul {
    text-align: center;
}
#navbar ul li {
    font-family: 'Century Gothic',serif;
    display: inline-block;
    padding: 3px;
}
#navbar div {
    display: inline-block;
}

.icon {
    /*#66CCFF*/
    background-color: #7e7e7e;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    opacity: 0.7;
}
.icon a {
    color: white;
}
.icon a:hover {
    color: black;
    text-decoration: underline;
}
i {
    color: white;
}
#menu-nav {
    width: 78%;
}
#menu-icon {
    margin-left: 20px;
}
.menu {
    background-image: url("img/menu_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    height: 100%;
    width: 400px;
    left: -400px;
}
.menu ul {
    list-style: none;
    margin-right: 45px;
    /*margin-top: 150px;*/
}
.menu li {
    border-bottom: 1px solid #7e7e7e;
    font-family: 'Century Gothic',serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-right: 10px;*/
}
.menu li:first-child {
    border-top: 1px solid #7e7e7e;
}
.menu a {
    color: white;
    font-family: 'Century Gothic', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
#menu_content {
    position: relative;
    width: auto;
    height: 100%;
    margin-left: 4em;
    top: 18em;
}
#close-button img {
    height: 60px;
    width: 60px;

}
#close-button {
    height: auto;
    width: 100%;
}
#menu-list {
    height: 60%;
    width: 100%;
}
div a p {
    padding-left: 30px;
    font-size: 15px;
}
div a:hover {
    text-decoration: underline;
    color: #7e7e7e;
}
#footer {
    bottom: 0px;
    height: auto;
    width: 100vw;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #7e7e7e;  
}
#content {
    width: 100%;
    height: auto;
    padding-bottom:80px;
}
iframe {
    width: 100%;
    height: 750px;
}
#footer-content {
    text-align:center;
    color: white;
    font-size: 15px;
}
#content-container {
    height: auto;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 40px;
}
#title {
    font-family: 'Century Gothic', serif;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 1.5em;
}
#content-container p {
    font-family: 'Century Gothic', serif;
    font-size: 20px;
}
p {
    line-height: 2;
    font-family: 'Century Gothic', serif;
}
#footer a {
    color: white;
}
#footer a:hover {
    color: black;
    text-decoration: underline;
}
#intro {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}
#running {
    position: absolute;
    right: -200px;
    padding-bottom: 5em;
}
table {
    width: 100%;
    margin-top: 50px;
}
td {
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}
.image_container {
    width: 155px;
}
td {
    vertical-align: top;
}
h2 {
    margin-top: 0px;
}
h2:hover{
    color: #7e7e7e;
    font-family: 'Century Gothic', serif;
}
td p {
    font-size: 18px;
    margin-bottom: 0px;
}
.demo {
    color: #66CCFF;
    font-weight: bold;
    margin-left: 10em;
}
p span {
    color: #337AB7;
    font-weight: bold;
}
#overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    background-color: #c0c0c0;
    visibility: hidden;
}
#page_content {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
#language_title {
    font-family: 'Century Gothic', serif;
    font-size: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 1.5em;
}
#language_icons {
    width: 100%;
    height: auto;
}
.sprite li {
    list-style: none;
    display: inline-block;
}
.sprite li div {
    height: 200px;
    width: 200px;
}
#java_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -1265px -5px;
}
#csharp_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -635px -5px;
}
#javascript_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -1685px -5px;
}
#jquery_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -1475px -5px;
}
#android_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -5px -5px;
}
#html_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -1055px -5px;
}
#css_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -845px -5px;
}
#angular_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -215px -5px;
}
#c_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -425px -5px;
}
#mysql_icon {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: -1895px -5px;
}
#pebble_icon {
    background-image: url("img/pebble.png");
    background-repeat: no-repeat;
}


