body {
    left: 0px;
    position: relative;
}
#header {
    /*background-color: #808080;*/
    background-color: black;
    position: relative;
    height: auto;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
}
#name {
    color: #FFFFFF;
    font-family: serif;
    font-size: 60px;
    text-align: center;
    padding: 5px;
}
#navbar ul {
    text-align: center;
}
#navbar ul li {
    display: inline-block;
    padding: 3px;
}
#navbar div {
    display: inline-block;
}

.icon {
    /*#66CCFF*/
    background-color:#66CCFF;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    opacity: 0.7;
}
.icon a {
    color: black;
}
.icon a:hover {
    color: white;
}
i {
    color: white;
}
#menu-nav {
    width: 78%;
}
#menu-icon {
    margin-left: 20px;
}
.menu {
    background-image: url("menu_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    height: 100%;
    width: 400px;
    left: -400px;
}
.menu ul {
    list-style: none;
    margin-right: 45px;
    margin-top: 230px;
}
.menu li {
    border-bottom: 1px solid gray;
    font-family: serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
#exit a {
    font-size: 30px;
    color: #0066FF;
}